:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-active: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #009688 10.94%, #DBDBD3 10.95%);
    font-family: 'Lato', sans-serif;
}

#app{
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.h0{
    height: 0;
}
.img-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 100%;
}
.mytopbar{
    background-color: var(--color-headers);
}
.myicon{
    color: var(--color-light-icons);
}
.mylightblue-bg{
    background-color: var(--color-notification);
}
.mylightblue{
    color: var(--color-notification);
}
.mydarkgrey{
    color: var(--color-dark-grey);
}
.my-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.my-icon i{
    width: 100%;
}
.myborder{
    border-bottom: 1px  solid rgba(128, 128, 128, 0.105);
}
.myborder:hover{
    background-color: var(--color-contact-active);
    cursor: pointer;
}
main{
    background-image: url("../img/mine.jpg");
}

/* messaggi inviati */
.sent-msg{
    background-color: var(--color-sent-message);
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    width: 25%;
}

.sent-position{
    display: flex;
    justify-content: flex-end;
}
/* messaggi ricevuti */
.received-msg{
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    width: 25%;
}
.received-position{
    display: flex;
    justify-content: flex-start;
}
/* barra invio messaggi */
.send-message{
    width: 90%;
}
.bottom-icon{
    margin: 0 auto;
}
.bottom-bar{
    background-color: #F3EEEA;
}